<%- include("partials/header") %>



<h3> Set target </h3>
<form action="/target" method="post">

    <label for="">Set target</label>
    <input name="target" type="text">
    <label for="">start date</label>
    <input type="date" name="sdate" id="">
    <label for="">due date</label>
    <input type="date" name="ddate" id="">
<button type="submit">set</button>
</form>



<br>
<a href="#contribute">  <button type="submit">Make contribution</button>  </a><br><br>
<table border="1">
    <thead>
        <th>Name</th>
        <th>Status</th>
        <th>Validate</th>
        <th>Paid</th>
        <th>Remaining</th>

    </thead>
    <tbody>
        <% users.forEach(user => { %>
        <tr>
            <td> <%= user.username %> </td>

                <% if (user.validated === 0) { %>
                    <td style="color: red; font-weight: bold;"> Not Validated  </td>
                        <% } else { %>
                            <td style="color: green; font-weight: bold;"> Validated  </td>
                        <% } %>
                        <form action="/validate-user" method="post">
                            <td> <input onchange="this.form.submit()" type="checkbox" name="userid" value="<%= user.userid %>" id=""> </td>
                        </form>
                        <td> <%= user.paid %> </td>             
            <td> <%= user.remaining %> </td>
            
        </tr>                  
        <% }) %>
    </tbody>

</table>

<section id="contribute">
    <h3> Make Contribution </h3>
<form action="/contribute" method="post">
    <label for="">Select user</label>
<select name="user" id="">
    <% users.forEach(user => { %>
     <option value=" <%= user.userid %> "> <%= user.username %> </option>
    <% }) %>
</select>
    <label for="">Ammount</label>
    <input name="ammount" type="text">
<button type="submit">Contribute</button>
</form>
</section>




<%- include("partials/footer") %>